body{
    box-sizing: border-box;
    margin: 0;
    background-color: black; 
    color: white;
}
img{
    height: 400px;
    width: 300px;
}
ul{
    font-style: italic;
    font-weight: bold; 
    color:aquamarine; 
    margin-top: 100px;
}

.my_lovely_2nd_point{               
    color:cadetblue; 
    font-style: normal;
} 